/* Set default styles for all elements */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* Enable smooth scrolling for HTML element */
html{
    scroll-behavior: smooth;
}
/* Set background image for body, adjust size and position */
body{
    background: url(bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/* Set styles for sidebar */
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgb(17, 15, 19);
    transition: all .5s ease;
    overflow-y: scroll;
}
/* Set header styles for sidebar */
.sidebar header{
    font-size: 22px;
    color: black;
    text-align: center;
    line-height: 70px;
    background: darkcyan;
    user-select: none;
}
/* Set link styles for sidebar */
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .5s;
}
/* Set link hover styles for sidebar */
ul li:hover a{
    padding-left: 50px;
}

/* Set icon styles for sidebar links */
.sidebar ul a i{
    margin-right: 16px;
}
/* Hide checkbox input */
#check{
    display: none;
}
/* Set styles for the hamburger menu button and close button */
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: black;
    border-radius: 3px;
}
/* Set styles for the hamburger menu button */
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

/* Set styles for the close button */
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
}
/* Show sidebar when checkbox is checked */
#check:checked ~ .sidebar{
    left: 0;
}
/* Move hamburger menu button when checkbox is checked */
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;

}
/* Move close button when checkbox is checked */
#check:checked ~ label #cancel{
    left: 195px;
}
/* Move main content section when checkbox is checked */
#check:checked ~ section{
    margin-left: 250px;
}

/* Set styles for table elements */
table, th, td{
    color: antiquewhite;
    width: 800px;
    margin: auto;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;

}
/* Clear floats for row elements */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Styling for the button that allows buying a ticket */
.buy-ticket-btn{
    background-color: rgb(48, 156, 48);
    height: 40px;
    color: antiquewhite;
}
/* Style for the h1 heading */
h1{
    color: chartreuse;
}
img{
    height: 350px;
    width: 530px;
}